@import "../../colors";

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  height: 80px;
  background-color: $colorBg;

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    font-size: 48px;
    color: $colorMain;
  }

  .redirections {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    a {
      display: flex;
      align-self: flex-end;

      .icon {
        width: 40px;
        height: 40px;
      }

      &:hover {
        .icon {
          filter: brightness(10);
        }
      }
    }
  }
}